setwd("D:\\nostoc")


# reading XStringSet object from a fasta file
seqs_s <- readDNAStringSet("irlc_legumes.fasta", format = "fasta")

names(seqs_s) <- c("Astragalus_canadensis_var._brevidens", 
                   "Cicer_arietinum", 
                   "Glycyrrhiza_uralensis", 
                   "Melilotus_albus",
                   "Medicago_sativa",
                   "Medicago_truncatula",
                   "Onobrychis_viciifolia",
                   "Oxytropis_ochrocephala", 
                   "Pisum_sativum",
                   "Trigonella_foenum_graecum",
                   "Trifolium_pratense",
                   "Vicia_costata",
                   "Galega_orientalis")


library(DECIPHER)
align <- AlignSeqs(seqs_s)


# viewing alignment
BrowseSeqs(align, highlight = 0)

writeXStringSet(align, file = "seqs_ali.fasta")


# Reading the allignment file 

library(phangorn)
alignment <- read.phyDat("seqs_ali.fasta", format = "fasta")


# Generating a distance matrix for the aligned sequences
dist_matrix <- dist.ml(alignment)


# Creating a Neighbor-Joining tree with edge lengths
nj_tree <- NJ(dist_matrix)


# Fitting the NJ tree to the alignment using Maximum Likelihood to get edge lengths
fit_nj <- pml(nj_tree, data = alignment)


# Optimizing the NJ tree to refine the edge lengths
fit_nj <- optim.pml(fit_nj, model = "GTR", optGamma = TRUE, optInv = TRUE)


library(ggtree)
library(ggplot2)


# Perform bootstrap resampling (e.g., 100 times)
bs <- bootstrap.pml(fit_nj, bs = 100, optNni = TRUE, model = "GTR")


# Create a consensus tree with the bootstrap values
consensus_tree <- plotBS(fit_nj$tree, bs, p = 50)  # Use p = 50 to show bootstrap values >= 50%


# Plot the tree with bootstrap values
library(ggtree)

p <- ggtree(consensus_tree, cex = 0.1, branch.length = 0.1, layout = "rectangular") +
  geom_tiplab(hjust = -0.00001, vjust = 0.55) +  # Add tip labels
  xlim(c(0, 0.4)) +  # Adjust x-axis to control branch lengths
  ggtitle('Phylogenetic tree of IRLC legumes with bootstrap values') +
  geom_text2(aes(label = node), hjust = 1.8, vjust = -0.5, size = 2.7)  # Add node numbers

p1 <- ggtree(consensus_tree, cex = 0.1, branch.length = 0.1, layout = "rectangular") +
  geom_tiplab(hjust = -0.00001, vjust = 0.55) +  # Add tip labels
  xlim(c(0, 0.4)) +  # Adjust x-axis to control branch lengths
  ggtitle('Phylogenetic tree of IRLC legumes with bootstrap values') +
  geom_nodelab(size = 2.7, hjust = 1.65, vjust = -0.5)+ # Display the bootstrap values on the tree
  geom_highlight(node = 18, fill = "green", alpha = 0.4,extend = 0.075) # highlight particular node



